* {
  margin:0;
  padding:0;
}
.fondo{
background-color: #f5ebd2
}
.link_header{
   color: #4f2414;
   font-weight: bold;
}

/* CART */

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }